{% extends 'base.html'%}
{% load static %}
{% block content %}
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'static/css/editarusuario.css' %}">
</head>

<body>
	{% if request.user.is_authenticated %}
        <h2>Tu cuenta, {{request.user.first_name}} !!</h2>
    {% endif %}
    <div class="modal-dialog text-center">
            	<h3>Datos de usuario</h3>
            	<br>	
            	<form  action="{% url 'editarusuario' %}" method="POST">
		        {% csrf_token %}
					<div class="col-md-6">
			            <div class="form-group" >
			              <label>Usuario</label>
			              <input name="nombreUsuario"  type="text" value="{{user.username|default_if_none:''}}" readonly="readonly" style="opacity: 0.5">
			            </div>
				        <div class="form-group">
			              <label>Nombre</label>
			              <input name="nombre"  type="text" value="{{user.first_name|default_if_none:''}}" >
			            </div>

			            <div class="form-group">
			              <label>Apellido</label>
			              <input name="apellido"type="text" value="{{user.last_name|default_if_none:''}}" >
			            </div>
			            <div class="form-group">
			              <label>Correo</label>
			              <input name="email"  type="text" value="{{user.email|default_if_none:''}}" required="" readonly="readonly" style="opacity: 0.5">
			            </div>
			        </div>
			        {% for perfil1 in perfil%}
				            <div class="form-group">
				              <label>Dirección</label>
				              <input name="direccion"type="text" value="{{perfil1.direccion|default_if_none:''}}" >
				            </div>
				            <div class="form-group">
				            	<label>Localidad</label>
				                <input name="localidad" type="text" value="{{perfil1.ciudad|default_if_none:''}}" >
				            </div>
				            <div class="form-group">
				            	<label>Provincia</label>
				                <input name="provincia" type="text" value="{{perfil1.provincia|default_if_none:''}}" >
				            </div>
				            <div class="form-group">
				            	<label>Pais</label>
				                <input name="pais" type="text" value="{{perfil1.pais|default_if_none:''}}" >
				            </div>
				            <div class="form-group">
					          <label>Telefono:</label>
					          <input name="telefonoNumero"  type="text" value="{{perfil1.telefonoNumero|default_if_none:''}}">
					        </div>
					{% endfor %}
			        <button class="btn btn-primary" type="submit" name="action" value="Guardar">Guardar</button>
			        <br>
			        {% if messages %}
				    	{% for message in messages %}
				        <div class="alert alert-success" role="alert">
				        	<strong class="{{ message.tags }} alert_error">{{ message }}</strong>
				        </div>
				      {% endfor %}
					{% endif %}
			    </form>
	</div>
</body>

{% endblock %}
