{% extends 'base.html'%}
{% load static %}
{% block content %}
{% block body%}

<head>
    <title>Registro</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/editarpublicacion.css' %}">
</head>


<form class="form-horizontal" action="{% url 'editarpublicacion' pk=publicacion.idPublicacion %}" method="POST" enctype="multipart/form-data">
  {% csrf_token%}
  <div class="col-md-5 main-section" >
    <h3>Datos de la Publicación</h3>
    <div class="form-group">
        <label for="tipoPublicacion">Categoria</label>
        <br>
        <input name="tituloPublicacion"  type="text" value="{{publicacion.tipoPublicacion}}" readonly="readonly"  style="opacity: 0.5">         
    </div>
    <div class="form-group">
        <label for="materia">Materia</label>
        <br>
        <input name="materia"  type="text" value="{{publicacion.materia}}" readonly="readonly"  style="opacity: 0.5">
    </div>
    <div class="form-group">
      <label for="ubicacionGeografica">Ubicación Geográfica</label>
      <br>
      <input name="ubicacionGeografica"  type="text" value="{{publicacion.ubicacionGeografica}}">
    </div>
    <div class="form-group">
      <label for="tituloPublicacion">Titulo de Publicación</label>
      <br>
      <input name="tituloPublicacion"  style="width: 50%" type="text" value="{{publicacion.tituloPublicacion}}">
    </div>
    <div class="form-group">
      <label for="precio">Precio ($ por hora)</label>
      <br>
      <input name="precio"  type="text" value="{{publicacion.precio}}">
    </div>
    <div class="form-group"for="contenido" >Descripcion</label>
      <br>
      <input name="contenido"  type="text" value="{{publicacion.Contenido}}" style="width: 80%; height: 20%">
    </div>

    <div align="left">
       <button class="btn btn-primary" type="submit" name="action" value="Ingresar">Guardar Cambios!
      </button>
    </div>
  </div>
  

  <div align="center" margin-top= "5px">
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</form>
{% endblock%}

{% endblock %}
</html>
