{% extends 'base.html'%}
{% load static %}
{% block content %}
{% block body%}

<head>
    <title>Registro</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/nuevapublicacion.css' %}">
</head>

<body>
  <form class="form-horizontal" action="{% url 'nuevapublicacion' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token%}
    <div class="col-md-5 main-section" >
      <div class="form-group">
        <label for="tipoPublicacion">Categoria</label>
         {{form.tipoPublicacion}}
      </div>
      <div class="form-group">
        <label for="materia">Materia</label>
         {{form.materia}}
      </div>
      <div class="form-group">
        <label for="estadoPublicacion">Estado Publicacion</label>
         {{form.estadoPublicacion}}
      </div>      
      <div class="form-group">
        <label for="tituloPublicacion" >Ubicación Geográfica</label>
          {{form.ubicacionGeografica}}
      </div>
      <div class="form-group">
        <label for="tituloPublicacion" >Titulo de Publicación</label>
          {{form.tituloPublicacion}}
      </div>
      <div class="form-group">
        <label for="precio">Precio ($ por Hora)</label>
        {{form.precio}}
      </div>
      <div class="form-group" >
        <label for="Contenido" >Descripción</label>
        {{form.Contenido}}
      </div>
      <div align="righ">
         <button class="btn btn-primary" type="submit" name="action" value="Ingresar">Publicar
        </button>
      </div>
    </div>
    

    <div class="col-md-1">
    </div>

    <div class="col-md-5" >
      <div>
          <h3><b>Información de Contacto</b></h3>
          <div class="form-group user-section">
            <label>Nombre:</label>  {{user.first_name|default_if_none:''}}
          </div>
          <div class="form-group user-section">
            <label>Apellido:</label>  {{user.last_name|default_if_none:''}}
          </div>
          <div class="form-group user-section">
            <label>Correo:</label>  {{user.email|default_if_none:''}}
          </div>
      </div>
      <div>

      </div>
    </div>

    <div align="center" margin-top= "5px">
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </form>
</body>

{% endblock%}

{% endblock %}
</html>
