{% extends 'base.html'%}
{% load static %}
{% block navbar%}
{% endblock %}
{% block content %}
<head>
    <title>Portada</title>
  	<link rel="stylesheet" type="text/css" href="{% static 'static/css/portada.css' %}">
</head>
<body>
	<div>
		<h1>Hola {{request.user.first_name}}!! Conocé todas nuestras publicaciones</h1>
		{% csrf_token %}
	</div>
	<br>
	<br>
	
  	<div class="modal-content">
        <form method="GET">
        	<h3>Realiza una busqueda</h4>
            <br>
        	<label for="tipoPublicacion" class="col-form-label">Tipo Publicacion</label>
            {{ Filter.form.tipoPublicacion}}
            <label for="estadoPublicacion" class="col-form-label">Estado Publicacion</label>
            {{ Filter.form.estadoPublicacion}}
            <label for="materia" class="col-form-label">Materia</label>
            {{ Filter.form.materia}}
            <br>
            <br>            
            <button class="btn btn-primary" type="submit"> Buscar </button>
        </form>
    </div>
    <br>
	<div>
			{% for publicaciones in lista_publicacion %}
			<div class="panel panel-default">
	   			<div class="panel-heading"><a href="{% url 'verpublicacion' pk=publicaciones.idPublicacion %}"><h3>{{ publicaciones.tituloPublicacion }}</h3></a>

	        		<ul class="nav navbar-nav navbar-left">
	       				<li class="mseccion"><i class="fa fa-user"></i> {{ publicaciones.idUsuarioPublicacion.username }}
			            </li>
			            <li class="mseccion">&nbsp&nbsp</li>
			            <li class="mseccion"><i class="fa fa-calendar"></i> {{ publicaciones.FechaPublicacion }}</li>
			        </ul>

			        <ul class="nav navbar-nav navbar-right">
			            <li class="mseccion"><i class="fa fa-shopping-cart"></i> ${{ publicaciones.precio }}</li>
			        </ul>
			        <br>
		        </div>

	           	<div class="panel-body">
	            	<h5>{{ publicaciones.Contenido }}</h5>
	            </div>
	        </div>
			{% endfor %}
	</div>
</body>

{% endblock %}﻿
