{% extends 'base.html'%}
{% load static %}
{% block content %}
{% block body%}


<head>
  <title>Registro</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'static/css/base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'static/css/verpublicacion.css' %}">
</head>


<body>
  <div class="container-fluid">
    <div class="row">
      <form class="form-horizontal"  method="GET" >
        <div class="col-md-5 main-section">
          {% if publicacion.estadoPublicacion == 'Eliminado' %}
           <div class="alert alert-danger">
                <strong>¡Tu publicacion ya se encuenta Eliminada!</strong>
          </div>
          {% endif %}
          <h3>Datos de la Publicación</h3>
          <div class="form-group">
            <label for="tipoPublicacion">Categoría</label>
            <br>
            <p>{{publicacion.tipoPublicacion|default_if_none:''}}</p>
          </div>
          <div class="form-group">
            <label for="materia">Materia</label>
            <br>
            {{publicacion.materia|default_if_none:''}}
          </div>
          <div class="form-group">
            <label for="ubicacionGeografica">Ubicación Geográfica</label>
            <br>
            {{publicacion.ubicacionGeografica|default_if_none:''}}
          </div>
          <div class="form-group">
            <label for="tituloPublicacion">Titulo de Publicación</label>
            <br>
            {{publicacion.tituloPublicacion|default_if_none:''}}
          </div>
          <div class="form-group">
            <label for="precio">Precio por Hora ($)</label>
            <br>
            {{publicacion.precio|default_if_none:''}}
          </div>
          <div class="form-group">
            <label for="Contenido" >Descripción</label>
            <br>
            {{publicacion.Contenido|default_if_none:''}}
          </div>

          {% if request.user == user %}
           <div>
            {% if publicacion.estadoPublicacion != 'Eliminado' %}
               <button class="btn btn-primary" name="action" value="EditarPublicacion">
                 <a style="color: white" href="{% url 'editarpublicacion' pk=publicacion.idPublicacion %}">Editar Publicación
                 </a>
               </button>
                 <button class="btn btn-primary" name="action" value="EliminarPublicacion" id= "eliminar">
                   <a style="color: white"  href="{% url 'eliminarpublicacion' pk=publicacion.idPublicacion %}">Eliminar Publicación</a>
                 </button>  
            {% endif %}
           </div>
          {% endif %}

          


        </div>
        <div class="col-md-1">
        </div>

        <div class="col-md-5" >
          <div>
            <div class="col-md-5 modal-content">
              <h3><b>Información de Contacto</b></h3>
              <div class="form-group">
                <label>Nombre: {{user.first_name|default_if_none:''}}</label>
              </div>
              <div class="form-group">
                <label>Apellido: {{user.last_name|default_if_none:''}}</label>
              </div>
              <div class="form-group">
                <label>Apellido: {{user.email|default_if_none:''}}</label>
              </div>

              <!-- ACÁ VA EL BOTÓN DE SOLICITAR CONTACTO -->
              {% if request.user != user %}
                  <div >
                    <button class="btn btn-primary" name="action" value="SolicitarContacto">
                      <a style="color: white"  href="{% url 'solicitarcontacto' pk=publicacion.idPublicacion %}">Ponte en contacto!</a>
                    </button> 
                  </div>
                <br>
              {% endif %}
              {% if messages %}
                  {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                      <strong class="{{ message.tags }} alert_error">{{ message }}</strong>
                    </div>
                  {% endfor %}
              {% endif %}



          </div>
        </form>
        <br>
        <br>

          <div id="divComentario" class="comments-wrapper mt-80">
              <h3>Comentarios</h3>
              {% if not comentarios %}
                <div class="alert alert-success">
                  Aún no hay comentarios en esta publicacion.
                </div>
              {% else %}
                <ul class="media-list comment-list mt-30">
                {% for comentario in comentarios %}
                  <li class="media">
                    <div class="media-body">
                          <div class="comment-info">
                              <div class="comment-author">
                                  <a>{{ comentario.usuario }}</a>
                              </div>
                              {{ comentario.fechaComentario }}
                          </div>
                          <p> {{ comentario.comentario }}</p>
                      </div>
                  </li>
                {% endfor %}
                  aaaa
              {% endif %}
            </ul>
          </div>
        <form  method="POST" >
          {% csrf_token %}
          <h1>Deja un comentario</h1>
          <div class="form-group">
            <label class="sr-only">Comentario</label>
            <li id="{{comentario.id}}">
                <div> 
                  <textarea class="form-control" type="text" name="comentario"  class="formControl"id="nuevoComentario" placeholder="Ingrese comentario"></textarea>  
                  <button type="button" class="btn btn-primary" onclick="comentar()" > CrearComentar</button>
                </div>
            </li>
          </div>
        </form>
      </div>
    </div>
    <form method="POST" id='post-form' >
      {% csrf_token %}
      <input id='pub-id' hidden value="{{ publicacion.idPublicacion }}">
    </form>
  </body>

  <script type="text/javascript">
    function comentar(){
        var texto = $("#nuevoComentario").val();
        if (texto == ""){
            alert("Por favor ingrese comentario.")  
        } else {
          $.ajax({
              "method":"POST",
              "url":"/comentariopublicacion/",
              "data":{"texto":texto,"idPublicacion":{{publicacion.idPublicacion}},"csrfmiddlewaretoken":"{{csrf_token}}"},
              success:function(data){
                  try {
                      if(JSON.parse(data) == "Error"){
                      alert("mensaje guardado");

                      }
                  }
                      catch(err) {
                              $("#lista").html(data);
                              console.log(data);
                      }
              }
          });
        }
    }
  </script>

  {% endblock%}
  {% endblock %}

  </html>

