{% extends 'base.html'%}
{% load static %}
{% block content %}
{% block body%}


<head>
  <title>Registro</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'static/css/base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'static/css/verpublicacion.css' %}">
</head>


<body>
  <div class="container-fluid">
    <div class="row">
      <form class="form-horizontal"  method="GET" >
        <div class="col-md-5 main-section">
         {% if publicacion.estadoPublicacion == 'Eliminado' %}
                <br>
                <div class="form-group" style="color: red;">
                <strong>¡Tu publicacion ya se encuenta Eliminada!</strong>
              </div>
            {% endif %}
          <div class="form-group">
            <label for="tipoPublicacion">Categoría</label>
            <br>
            <input name="tipoPublicacion"  type="text" value="{{publicacion.tipoPublicacion}}" readonly="readonly">
          </div>
          <div class="form-group">
            <label for="materia">Materia</label>
            <br>
            <input name="materia"  type="text" value="{{publicacion.materia}}">
          </div>
          <div class="form-group">
            <label for="tituloPublicacion">Titulo de Publicación</label>
            <br>
            <input name="tituloPublicacion"  type="text" value="{{publicacion.tituloPublicacion}}" readonly="readonly">
          </div>
          <div class="form-group">
            <label for="precio">Precio por Hora ($)</label>
            <br>
            <input name="precio"  type="text" value="{{publicacion.precio}}" readonly="readonly">
          </div>
          <div class="form-group">
            <label for="Contenido" >Descripción</label>
            <br>
            <textarea name="Contenido" type="text" readonly="readonly">
              {{publicacion.Contenido}}
            </textarea>
          </div>

          {% if request.user == user %}
           <div>
             <button class="btn btn-primary" name="action" value="EditarPublicacion">
               <a style="color: white" href="{% url 'editarpublicacion' pk=publicacion.idPublicacion %}">Editar Publicación
               </a>
             </button>
             <button class="btn btn-primary" name="action" value="EliminarPublicacion">
               <a style="color: white"  href="{% url 'eliminarpublicacion' pk=publicacion.idPublicacion %}">Eliminar Publicación</a>
             </button>
           </div>
          {% endif %}

        </div>
        <div class="col-md-1">
        </div>

        <div class="col-md-5" >
          <div>
            <div class="col-md-5 modal-content">
              <h3><b>Información de Contacto</b></h3>
              <div class="form-group">
                <label>Nombre:</label>
                <input name="nombre"  type="text" value="{{user.first_name|default_if_none:''}}"  readonly="readonly">
              </div>
              <div class="form-group">
                <label>Apellido:</label>
                <input name="apellido"type="text" value="{{user.last_name|default_if_none:''}}"  readonly="readonly">
              </div>

              <!-- ACÁ VA EL BOTÓN DE SOLICITAR CONTACTO -->
              {% if request.user != user %}
              {% if solicitud %}
              <div class="form-group" style="color: blue;">
                <strong>¡Tus datos de contacto ya han sido enviados! Pronto se comunicarán contigo.</strong>
              </div>
              {% else %}
                <div >
                  <button class="btn btn-primary" name="action" value="SolicitarContacto">
                    <a style="color: white"  href="{% url 'solicitarcontacto' pk=publicacion.idPublicacion %}">Ponte en contacto!</a>
                  </button>
                </div>
              <br>
              {% endif %}
              {% endif %}
          </div>
        </form>
      </div>
    </div>
<!-- <div class="main-section" id="publicarcomentario">
      {% if request.user.is_authenticated %}
      <form class="form-horizontal"  action="{% url 'verpublicacion' publicacion.idPublicacion %}" method="POST">
        {% csrf_token%}
        <div class="form-group">
          <label for="contenidoComentario">Deja un comentario:</label>
          <br>
          {{form.ContenidoComentario}}
        </div>
        <div align="left">
          <button class="btn btnprimary" type="submit" name="action" value="Publicar">Publicar Comentario
          </button>
        </div>
      </form>
    </div>
    {% else %}
    <p>¿Quieres hacer un comentario? <a href="/login/">Inicia Sesión</a>. o <a href="/registrar/">Registrate</a>.
      {% endif %}
    </div>-->

    <form method="POST" id='post-form' >
      {% csrf_token %}
      <input id='pub-id' hidden value="{{ publicacion.idPublicacion }}">
    </form>

  </body>
  {% endblock%}
  {% endblock %}

  </html>
