{% extends 'base.html'%}
{% load static %}
{% block content %}
{% block body%}


<head>
  <title>Registro</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'static/css/base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'static/css/verpublicacion.css' %}">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <form class="form-horizontal"  method="GET" >
        <div class="col-md-5 main-section">
          {% if publicacion.estadoPublicacion == 'Eliminado' %}
           <div class="alert alert-danger">
                <strong>¡Tu publicacion ya se encuenta Eliminada!</strong>
                  <button class="btn btn-success">
                     <a style="color: white"  href="{% url 'activarpublicacion'  pk=publicacion.idPublicacion %} ">Reactivar Publicacion</a>
                  </button>
          </div>
          {% endif %}
          {% if request.user == user %}
            <button class="btn btn-success">
                     <a style="color: white"  href="{% url 'versolicitudes'  pk=publicacion.idPublicacion %} ">Ver todas las solicitudes!</a>
                  </button>

           {% else %}
              {% if denunciado %}
              <div>
                <button class="btn btn-danger disabled">Ya denunciado</button>
              </div>
              {% else %}
              <div>
                <a class="btn btn-danger" href="{% url 'nuevadenuncia' pk=publicacion.idPublicacion %}" role="button">Denunciar Publicación</a>
              </div>
              {% endif %}
          {% endif %}
          <h3>Datos de la Publicación</h3>
          <div class="form-group">
            <label for="tipoPublicacion">Categoría</label>
            <br>
            <p>{{publicacion.tipoPublicacion|default_if_none:''}}</p>
          </div>
          <div class="form-group">
            <label for="materia">Materia</label>
            <br>
            {{publicacion.materia|default_if_none:''}}
          </div>
          <div class="form-group">
            <label for="ubicacionGeografica">Ubicación Geográfica</label>
            <br>
            {{publicacion.ubicacionGeografica|default_if_none:''}}
          </div>
          <div class="form-group">
            <label for="tituloPublicacion">Titulo de Publicación</label>
            <br>
            {{publicacion.tituloPublicacion|default_if_none:''}}
          </div>
          <div class="form-group">
            <label for="precio">Precio por Hora ($)</label>
            <br>
            {{publicacion.precio|default_if_none:''}}
          </div>
          <div class="form-group">
            <label for="Contenido" >Descripción</label>
            <br>
            {{publicacion.Contenido|default_if_none:''}}
          </div>

          {% if request.user == user %}
           <div>
            {% if publicacion.estadoPublicacion != 'Eliminado' %}
                <button class="btn btn-primary" name="action" value="EditarPublicacion">
                 <a style="color: white" href="{% url 'editarpublicacion' pk=publicacion.idPublicacion %}">Editar Publicación
                 </a>
                </button>
                <button class="btn btn-primary" name="action" value="EliminarPublicacion" id= "eliminar">
                   <a style="color: white"  href="{% url 'eliminarpublicacion' pk=publicacion.idPublicacion %}">Eliminar Publicación</a>
                </button>

            {% endif %}
           </div>
          {% endif %}
        </div>
        <div class="col-md-1">
        </div>

        <div class="col-md-5" >
          <div>
            <div class="col-md-5 modal-content">
              <h3><b>Información de Contacto</b></h3>
              <div class="form-group">
                <label>Nombre: {{user.first_name|default_if_none:''}}</label>
              </div>
              <div class="form-group">
                <label>Apellido: {{user.last_name|default_if_none:''}}</label>
              </div>
              <div class="form-group">
                <label>Apellido: {{user.email|default_if_none:''}}</label>
              </div>

              <!-- ACÁ VA EL BOTÓN DE SOLICITAR CONTACTO -->
              {% if request.user != user %}
                  <div >
                    <button class="btn btn-primary" name="action" value="SolicitarContacto">
                      <a style="color: white"  href="{% url 'solicitarcontacto' pk=publicacion.idPublicacion %}">Ponte en contacto!</a>
                    </button>
                  </div>
                <br>
              {% endif %}
              {% if messages %}
                  {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                      <strong class="{{ message.tags }} alert_error">{{ message }}</strong>
                    </div>
                  {% endfor %}
              {% endif %}



          </div>
        </form>

        <form class="form-horizontal" action="{% url 'comentariopublicacion' pk=publicacion.idPublicacion %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <h3>Deja un comentario</h3>
          <div class="form-group">
            <label for = contenidocomentario" class="sr-only">Comentario</label>
                <div>
                  {{form1.contenidocomentario}}
                  <button class="btn btn-primary" type = "submit" name="action" value="comentariopublicacion">Crear Comentario</button>
                </div>
          </div>

          <div id="divComentario" class="comments-wrapper mt-80">
              <h3>Comentarios</h3>
              {% if not comentarios %}
                <div class="alert alert-success">
                  Aún no hay comentarios en esta publicacion.
                </div>
              {% else %}
                {% for coment in comentarios %}
                  {%if coment.estadoComentario == 'Publicado' %}
                      <ul>
                        <label>Usuario: </label> {{ coment.usuario }}
                        <p> {{ coment.comentario }}</p>
                        {%if request.user == coment.usuario %}
                          <button class="btn btn-primary" name="action" value="eliminarcomentario">
                          <a style="color: white"  href="{% url 'eliminarcomentario' pk=publicacion.idPublicacion %}">Eliminar Comentario</a>
                          </button>
                        {% endif %}
                        <hr size=”5px” width= “50%” align=”center” color=”red”/>
                      </ul>
                  {% endif %}
                {% endfor %}
              {% endif %}
          </div>
        </form>
      </div>
    </div>
    <form method="POST" id='post-form' >
      {% csrf_token %}
      <input id='pub-id' hidden value="{{ publicacion.idPublicacion }}">
    </form>
  </body>

  {% endblock%}
  {% endblock %}

  </html>
